BasedOnStyle: LLVM
PointerAlignment: Left
ColumnLimit: 100
IndentWidth: 2
UseTab: Never
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
